body {
  font-family: "Helvetica Neue", Arial, sans-serif;
   background-color: #2a2f3b;
  color: #f8f8f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}

.select {
  border-radius: 5px;
  padding: 5px;
}

.selected {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
  color: white;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
  color: white;
}

.option:hover {
  background-color: #323741;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #888;
  font-size: 20px;
  background-color: #f8f8f4;
}

tr:nth-child(3n) td {
  border-bottom: 2px solid #555;
}

td:nth-child(3n) {
  border-right: 2px solid #555;
}

td.given {
  font-weight: 600;
  color: #b2985a;
  background: #f2f0eb;
}
